# More generic / higher level paths should be listed first.

* @navapbc/platform-admins # project lead

/docs/  @navapbc/platform-admins @navapbc/platform-backend @navapbc/platform-infra @navapbc/platform-frontend
